.a-component {
    display: flex;
    flex-direction: column;
    .message{
        font-size: 26px;
        text-transform: capitalize;
    }
    .user-name {
        color: lightcoral
    }
    .error-msg {
        color: red;
    }
}
